.App {
  text-align: center;
  height: 100vh;
  text-align: center;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  grid-template-rows: auto; /* Automatically adjust row heights */
  gap: 20px; /* Adds spacing between the sections */
  padding: 20px; /* Adds padding around the grid */
}

.magicpattern {
  overflow: svg;
  width: 100%;
  height: 100%;
  background-size: fill;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22b%22%3E%3Cpath fill=%22currentColor%22 d=%22M885.5 604.5Q788 709 713 817.5T494.5 942Q351 958 252 855T123 626q-30-126 .5-251.5t134-213.5q103.5-88 238-75t230 97Q821 267 902 383.5t-16.5 221Z%22%2F%3E%3C%2FclipPath%3E%3Cfilter id=%22a%22 x=%22-50vw%22 y=%22-50vh%22 width=%22100vw%22 height=%22100vh%22%3E%3CfeFlood flood-color=%22%23fff%22 result=%22neutral-gray%22%2F%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%222.5%22 numOctaves=%22100%22 stitchTiles=%22stitch%22 result=%22noise%22%2F%3E%3CfeColorMatrix in=%22noise%22 type=%22saturate%22 values=%220%22 result=%22destaturatedNoise%22%2F%3E%3CfeComponentTransfer in=%22desaturatedNoise%22 result=%22theNoise%22%3E%3CfeFuncA type=%22table%22 tableValues=%220 0 0.3 0%22%2F%3E%3C%2FfeComponentTransfer%3E%3CfeBlend in=%22SourceGraphic%22 in2=%22theNoise%22 mode=%22soft-light%22 result=%22noisy-image%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cg filter=%22url(%23a)%22 clip-path=%22url(%23b)%22%3E%3Cpath fill=%22%230c4ba9%22 d=%22M885.5 604.5Q788 709 713 817.5T494.5 942Q351 958 252 855T123 626q-30-126 .5-251.5t134-213.5q103.5-88 238-75t230 97Q821 267 902 383.5t-16.5 221Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
